<% include ('partials/header') %>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/quartz/bootstrap.min.css">
</head>
<div class="conteiner mt-5">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/update/<%= data.id %>" method="post">
                        <div class="form-group">
                            <input type="text" name="nombre" value="<%= data.nombre %>" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="apellido" value="<%= data.apellido %>" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="direccion" value="<%= data.direccion %>" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="departamento" value="<%= data.departamento %>" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="number" name="edad" value="<%= data.edad %>" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="genero" value="<%= data.genero %>" class="form-control">
                        </div>
                        <!-- <div class="form-group">
                            <input type="enum" name="criticidad" value="<%= data.criticidad %>" class="form-control">
                        </div> -->
                        <div class="form-group">
                            <select name="criticidad" class="form-control">
                                <option value="GRAVE" <% if (data.criticidad === 'GRAVE') { %> selected <% } %>>GRAVE</option>
                                <option value="MEDIO" <% if (data.criticidad === 'MEDIO') { %> selected <% } %>>MEDIO</option>
                                <option value="LEVE" <% if (data.criticidad === 'LEVE') { %> selected <% } %>>LEVE</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Actualizar paciente
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ('partials/footer') %>